.alt-header {
  z-index: 99;
  background-color: #ffffff;
  left: 0px;
  top: 26px;
  padding: 14px 15px;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-items: center;
  align-items: center;
}

.alt-header__itmes {
  display: flex;
  width: 33%;
}
.alt-header__itmes:first-child {
  justify-content: flex-start;
}

.alt-header__itmes:last-child {
  justify-content: flex-end;
}

.alt-header__itmes:nth-child(2) {
  justify-content: center;
  font-size: 28px;
  font-weight: 600;
}

.alt-header__itmes:last-child > i {
  margin-left: 20px;
}
