.screen-header {
  display: flex;
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  background-color: #ffffff;
  top: 0px;
  left: 0px;
  margin-top: 21px;
  justify-content: space-between;
  align-items: center;
  padding: var(--initial-margin);
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons {
  position: relative;
}
.screen-header__icons span {
  margin-left: 30px;
}

.cog__new {
  display: flex;
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  position: absolute;
  right: -4px;
  top: -6px;
}

.recommended-friends {
  color: rgba(0, 0, 0, 0.3);
  font-weight: 600;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 20px;
}

.recommended-friends h6 {
  padding: 15px 0px;
}

.recommended-friends span {
  display: block;
  padding: 100px 0px;
  text-align: center;
  font-size: 18px;
}

@keyframes lotateZ {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__icons .fa-cog:hover {
  animation: lotateZ 2.5s linear infinite;
}
